{% extends 'employer/base.html' %}
{% load static %}
{% block content %}

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h1 class="text-white font-weight-bold">Detailed Candidate Profile</h1>
              <div class="custom-breadcrumbs">
                <a href="#">Home</a> <span class="mx-2 slash">/</span>
                <a href="#">Candidate Profile</a> <span class="mx-2 slash">/</span>
                {% comment %} <span class="text-white"><strong>Product Designer</strong></span> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </section>
  
      
      <section class="site-section">
        {% for i in profile %} 
        <div class="container">
          <div class="row align-items-center mb-5">
            <div class="col-lg-12 mb-4 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="border p-2 d-inline-block mr-3 rounded">
                  <img src="/media/{{i.image}}" alt="Image" style="height:200px">
                </div>
                <div>
                  <h2>{{ i.jobseeker.user.first_name}}</h2>
                  <div>
                    <span class="ml-0 mr-2 mb-2"><span class="icon-user-plus mr-2"></span>{{ i.jobseeker.user.email}}</span>
                    <span class="m-2"><span class="icon-check_circle mr-2 text-muted"></span>{{ i.jobseeker.mobile}}</span>
                    {% comment %} <span class="m-2"><span class="icon-clock-o mr-2"></span><span class="text-primary">{{ single_job.job_type}}</span></span> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
             <div class="col-lg-4">
              <div class="row">
                {% comment %} <div class="col-6">
                  <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Save Job</a>
                </div>  {% endcomment %}
                <div class="col-6">
                  <a href="/media/{{i.resume}}" class="btn btn-block btn-primary btn-md">View Resume</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="mb-5">
                {% comment %} <figure class="mb-5"><img src="/media/{{single_job.logo}}" alt="Image" class="img-fluid rounded"></figure> {% endcomment %}
                {% comment %} <div class="row">
                    <div class="col-lg-4">
                     <div class="bg-light p-3 border rounded mb-4"> {% endcomment %}
                       <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Basic Details</h3>
                       <ul class="list-unstyled accordion-item pl-3 mb-0">
                         <li class="mb-2"><strong class="text-black">DOB :</strong> {{i.age}}</li>
                         <li class="mb-2"><strong class="text-black">Gender :</strong> {{i.gender}}</li>
                         <li class="mb-2"><strong class="text-black">Address :</strong> {{i.address}}</li>
                         <li class="mb-2"><strong class="text-black">Pincode :</strong> {{i.pincode}} </li>
                         {% comment %} <li class="mb-2"><strong class="text-black">Linkedlin:</strong> {{single_job.lk_username}}</li> {% endcomment %}
                       </ul>
                       <br><br>
                     {% comment %} </div> {% endcomment %}
                <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Educational Details</h3>
                <li class="mb-2"><strong class="text-black">Highest Qualification :</strong> {{i.qualification}}</li>
                <li class="mb-2"><strong class="text-black">Knowledge :</strong> {{i.skills}}</li>
                <li class="mb-2"><strong class="text-black">Experience in years :</strong> {{i.experience}}</li>
            </div>
              <div class="mb-5">
                <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-rocket mr-3"></span>Skills</h3>
                <ul class="list-unstyled m-0 p-0">
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Problem Solving</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Leadership</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Management</span></li>
                  {% comment %} <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Deleniti asperiores blanditiis nihil quia officiis dolor</span></li> {% endcomment %}
                </ul>
              </div>
  
              {% comment %} <div class="mb-5">
                <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-book mr-3"></span>Education + Experience</h3>
                <ul class="list-unstyled m-0 p-0">
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Necessitatibus quibusdam facilis</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Velit unde aliquam et voluptas reiciendis non sapiente labore</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Commodi quae ipsum quas est itaque</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Deleniti asperiores blanditiis nihil quia officiis dolor</span></li>
                </ul>
              </div> {% endcomment %}
  
              {% comment %} <div class="mb-5">
                <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-turned_in mr-3"></span>Other Benifits</h3>
                <ul class="list-unstyled m-0 p-0">
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Necessitatibus quibusdam facilis</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Velit unde aliquam et voluptas reiciendis non sapiente labore</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Commodi quae ipsum quas est itaque</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></li>
                  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Deleniti asperiores blanditiis nihil quia officiis dolor</span></li>
                </ul>
              </div> {% endcomment %}
  
              <div class="row mb-5">
                {% comment %} <div class="col-6">
                  <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Save Job</a>
                </div> {% endcomment %}
                {% comment %} <div class="col-6">
                  <a href="apply?id={{single_job.id}}" class="btn btn-block btn-primary btn-md">Apply Now</a>
                </div> {% endcomment %}
              </div>
  
            </div>
            {% comment %} <div class="col-lg-4">
              <div class="bg-light p-3 border rounded mb-4">
                <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
                <ul class="list-unstyled pl-3 mb-0">
                  <li class="mb-2"><strong class="text-black">Published on:</strong> {{single_job.published_on}}</li>
                  <li class="mb-2"><strong class="text-black">Vacancy:</strong> {{single_job.vacancy}}</li>
                  <li class="mb-2"><strong class="text-black">Employment Status:</strong> {{single_job.job_type}}</li>
                  <li class="mb-2"><strong class="text-black">Experience:</strong> {{single_job.experience}} year(s)</li>
                  <li class="mb-2"><strong class="text-black">Job Location:</strong> {{single_job.location}}</li>
                  <li class="mb-2"><strong class="text-black">Salary:</strong> {{single_job.salary}}</li>
                  <li class="mb-2"><strong class="text-black">Gender:</strong> Any</li>
                  <li class="mb-2"><strong class="text-black">Application Deadline:</strong> {{single_job.last_date}}</li>
                </ul>
              </div>
              
              <div class="bg-light p-3 border rounded">
                <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Share</h3>
                <div class="px-3">
                  <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-facebook"></span></a>
                  <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-twitter"></span></a>
                  <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-linkedin"></span></a>
                  <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-pinterest"></span></a>
                </div>
              </div>
             </div>
            </div> {% endcomment %}
          </div>
        </div>
        {% endfor %}
      </section>

{% endblock %}