{% extends 'employer/base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Job Vacancies</h1>
          <div class="custom-breadcrumbs">
            <a href="#">Home</a> <span class="mx-2 active">/</span>
            <a href="#">Listed Jobs</a> <span class="mx-2 slash">/</span>
            {% comment %} <span class="text-white"><strong>Jobseeker</strong></span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
<br>
<br>
<div class="col-xl-12">
    <div id="page-inner" >
        <h1>Job Vacancy List</h1>
            <table class="table table-bordered table-striped table-hover">
        
                <th class="info">Company Logo</th>
                <th class="info">Employer Name</th>
                <th class="info">Company Name</th>
                <th class="info">Post</th>
                <th class="info">Email</th>
                <th class="info">Mobile</th>
                <th class="info">Location</th>
                <th class="info">Vacancies</th>
                <th class="info">Last Date to apply</th>
                <th class="info">Remove</th>
                <th class="info">Update</th>
        {% for i in jobs  %}
        
        <tr>
            <td><img src="/media/{{ i.image}}"></td>
            <td>{{ i.employer.user.first_name}}</td>
            <td>{{ i.companyname}}</td>
            <td>{{ i.title}}</td>
            <td>{{ i.employer.user.email}}</td>
            <td>{{ i.employer.mobile}}</td>
            <td>{{ i.location}}</td>
            <td>{{ i.vacancy}}</td>
            <td>{{ i.last_date}}</td>
            <td><a href="removed?id={{ i.id}}" class=" btn btn-danger">Remove</a></td>
            <td><a href="update_job_vacancy?id={{ i.id}}" class=" btn btn-warning">Update</a></td>
        
        </tr>
        
            {% endfor %}
        </table>
    </div>
</div>
</div>
{% endblock  %}